# Email Configuration
# Copy this file to .env.local and fill in your actual credentials

EMAIL_USER=jp@jphart.dev
EMAIL_PASSWORD=Ecuagrowers10@@
SMTP_Server: hostingsecure.email  
SMTP_Port:465 (SSL)  
IMAP_Port:993  


# IMPORTANT: Never commit .env.local to git!
# Add .env.local to your .gitignore file
